# Data Cleaning Loan Data

In [1]:
import pandas as pd

loans_2007 = pd.read_csv('LoanStats3a.csv', skiprows=1) # First row contains notes to the data

# Removing columns with more than half the rows having NA
half_count = len(loans_2007) / 2
loans_2007 = loans_2007.dropna(thresh=half_count, axis=1)

# Removing Length `desc` column
loans_2007 = loans_2007.drop(['desc'],axis=1)

# Save and output to new CSV file for future use
loans_2007.to_csv('loans_2007.csv', index=False)

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
loans_2007.shape

(42538, 53)

In [3]:
pd.set_option("display.max_columns", 53)
pd.get_option("display.max_columns")

53

In [4]:
loans_2007.head(5)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.00,0.0,0.00,Jan-2015,171.62,Dec-2018,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.0,0.0,1014.530000,1014.53,456.46,435.17,0.00,122.9,1.11,Apr-2013,119.66,Oct-2016,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.0,0.0,3005.666844,3005.67,2400.00,605.67,0.00,0.0,0.00,Jun-2014,649.91,Jun-2017,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.0,0.0,12231.890000,12231.89,10000.00,2214.92,16.97,0.0,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,0.0,0.0,4066.908161,4066.91,3000.00,1066.91,0.00,0.0,0.00,Jan-2017,67.30,Apr-2018,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N

* 42538 Total remaning rows, 53 columns each

In [5]:
loans_2007.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens', 'hardship_flag',
       'disbursement_method', 'debt_settlement_flag'],
      dtype='object')

# Removing Features
We want to remove features that:
* Leak information from the future (after the loan has already been funded)
* Are irrelevant to a borrower's ability to pay back a loan (e.g. a randomly generated ID value by Lending Club)
* Poorly formatted and need to be cleaned up
* Requires more data or processing to turn into a (maybe) useful feature
* Contain redundant information (information is restated or more detailed in another columns)

In [6]:
cols_to_drop = ['funded_amnt', # Leaks info - Funding only starts after Approval
                'funded_amnt_inv', # Same as above
                'grade', # More detailed in int_rate
                'sub_grade', # Same as above
                'emp_title', # Requires more data
                'issue_d', # Leaks info - Issued only after Approval AND Funding
                'zip_code', # Info is censored
                'out_prncp', # Leaks info
                'out_prncp_inv', # Leaks info
                'total_pymnt', # Leaks info
                'total_pymnt_inv', # Leaks info
                'total_rec_prncp', # Leaks info
                'total_rec_int', # Leaks info
                'total_rec_late_fee', # Leaks info
                'recoveries', # Leaks info
                'collection_recovery_fee', # Leaks info
                'last_pymnt_d', # Leaks info
                'last_pymnt_amnt', # Leaks info
                'debt_settlement_flag' # Leaks info 
               ]

loans_2007 = loans_2007.drop(cols_to_drop, axis=1)

In [7]:
print(loans_2007.columns)

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'pymnt_plan', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code',
       'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths',
       'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens', 'hardship_flag',
       'disbursement_method'],
      dtype='object')

# Target Column

In [8]:
loans_2007.head(5)

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,purpose,title,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,Fully Paid,n,credit_card,Computer,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,Dec-2018,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,Charged Off,n,car,bike,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,Oct-2016,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,Fully Paid,n,small_business,real estate business,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,Jun-2017,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,Fully Paid,n,other,personel,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,Apr-2016,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash
4,3000.0,60 months,12.69%,67.79,1 year,RENT,80000.0,Source Verified,Fully Paid,n,other,Personal,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,Apr-2018,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash

In [9]:
loans_2007['loan_status'].value_counts()

Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

#### Filtering Labels of Interest
* Only interested in binary classification of `Fully Paid` or `Charged Off`

In [10]:
loans_2007.shape

(42538, 34)

In [11]:
loans_2007_bin = loans_2007[(loans_2007['loan_status']=='Fully Paid') | (loans_2007['loan_status']=='Charged Off')]

In [12]:
loans_2007_bin.shape

(39786, 34)

#### Remapping to Binary Labels

In [13]:
loans_2007_bin["loan_status"].value_counts()

Fully Paid     34116
Charged Off     5670
Name: loan_status, dtype: int64

In [14]:
mapping = {
    "loan_status": {
        "Fully Paid": 1,
        "Charged Off": 0,
    }
}

loans_2007_bin = loans_2007_bin.replace(mapping)

In [15]:
loans_2007_bin["loan_status"].value_counts()

1    34116
0     5670
Name: loan_status, dtype: int64

#### Removing Columns with only one Unique Value ( Excluding NAs )

In [16]:
drop_columns = []

for col in loans_2007_bin.columns:
    col_series = loans_2007_bin[col]
    non_null = col_series.dropna()
    vc = non_null.unique()
    num_true_unique = len(vc)
    if num_true_unique == 1:
        drop_columns.append(col)

loans_df = loans_2007_bin.drop(drop_columns, axis=1)
        
print("Columns with only one Unique Value:\n", drop_columns)

Columns with only one Unique Value:
 ['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens', 'hardship_flag', 'disbursement_method']

In [17]:
print(loans_df.shape)
print(loans_df.columns)

(39786, 23)
Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'last_credit_pull_d',
       'pub_rec_bankruptcies'],
      dtype='object')

#### Missing Values

In [18]:
loans_df.isnull().sum()

loan_amnt                 0
term                      0
int_rate                  0
installment               0
emp_length                0
home_ownership            0
annual_inc                0
verification_status       0
loan_status               0
purpose                   0
title                    10
addr_state                0
dti                       0
delinq_2yrs               0
earliest_cr_line          0
inq_last_6mths            0
open_acc                  0
pub_rec                   0
revol_bal                 0
revol_util               50
total_acc                 0
last_credit_pull_d        2
pub_rec_bankruptcies    697
dtype: int64

In [19]:
# Drop pub_rec_bankruptcies - Too Many NAs
loans_df = loans_df.drop(["pub_rec_bankruptcies"], axis=1)

# Drop Remaining Rows with NA values
loans_df = loans_df.dropna(axis=0)

In [20]:
loans_df.isnull().sum()

loan_amnt              0
term                   0
int_rate               0
installment            0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
loan_status            0
purpose                0
title                  0
addr_state             0
dti                    0
delinq_2yrs            0
earliest_cr_line       0
inq_last_6mths         0
open_acc               0
pub_rec                0
revol_bal              0
revol_util             0
total_acc              0
last_credit_pull_d     0
dtype: int64

#### Column dtype Conversion to Numeric

In [21]:
loans_df.dtypes

loan_amnt              float64
term                    object
int_rate                object
installment            float64
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
loan_status              int64
purpose                 object
title                   object
addr_state              object
dti                    float64
delinq_2yrs            float64
earliest_cr_line        object
inq_last_6mths         float64
open_acc               float64
pub_rec                float64
revol_bal              float64
revol_util              object
total_acc              float64
last_credit_pull_d      object
dtype: object

In [22]:
object_loans = loans_df.select_dtypes(include=["object"])
object_loans.describe()

,term,int_rate,emp_length,home_ownership,verification_status,purpose,title,addr_state,earliest_cr_line,revol_util,last_credit_pull_d
count,39724,39724,39724,39724,39724,39724,39724,39724,39724,39724,39724
unique,2,371,12,5,3,14,19610,50,526,1089,136
top,36 months,10.99%,10+ years,RENT,Not Verified,debt_consolidation,Debt Consolidation,CA,Nov-1998,0%,Dec-2018
freq,29041,958,8897,18881,16890,18661,2189,7095,371,980,8020

In [23]:
print("No. of Unique Labels:")
print(object_loans.describe().iloc[1].sort_values())


# No . of Unique Labels:

# term                        2  ->  CONVERT TO CATEGORICAL
# debt_settlement_flag        2  ->  CONVERT TO CATEGORICAL
# verification_status         3  ->  CONVERT TO CATEGORICAL
# home_ownership              5  ->  CONVERT TO CATEGORICAL
# emp_length                 12  ->  CONVERT TO NUMERIC
# purpose                    14  ->  CONVERT TO CATEGORICAL
# addr_state                 50  ->  DROP ( TOO MANY )
# last_credit_pull_d        136  ->  DROP ( TOO COMPLEX )
# int_rate                  371  ->  CONVERT TO NUMERIC
# earliest_cr_line          526  ->  DROP ( TOO COMPLEX )
# revol_util               1089  ->  CONVERT TO NUMERIC
# title                   19610  ->  DROP ( TOO MANY )

No. of Unique Labels:
term                       2
verification_status        3
home_ownership             5
emp_length                12
purpose                   14
addr_state                50
last_credit_pull_d       136
int_rate                 371
earliest_cr_line         526
revol_util              1089
title                  19610
Name: unique, dtype: object

In [24]:
# Categorical Columns
cat_cols = ['term', 'verification_status', 'home_ownership',
            'emp_length', 'purpose', 'addr_state'
           ]
for col in cat_cols:
    print(object_loans[col].value_counts(),"\n")

 36 months    29041
 60 months    10683
Name: term, dtype: int64

Not Verified       16890
Verified           12833
Source Verified    10001
Name: verification_status, dtype: int64

RENT        18881
MORTGAGE    17688
OWN          3056
OTHER          96
NONE            3
Name: home_ownership, dtype: int64

10+ years    8897
< 1 year     4576
2 years      4389
3 years      4094
4 years      3435
5 years      3279
1 year       3240
6 years      2227
7 years      1771
8 years      1483
9 years      1259
n/a          1074
Name: emp_length, dtype: int64

debt_consolidation    18661
credit_card            5134
other                  3985
home_improvement       2980
major_purchase         2182
small_business         1827
car                    1549
wedding                 947
medical                 693
moving                  581
house                   382
vacation                380
educational             320
renewable_energy        103
Name: purpose, dtype: int64

CA    7095
NY    3815
FL    2869
TX    2729
NJ    1850
IL    1524
PA    1515
VA    1407
GA    1399
MA    1343
OH    1221
MD    1053
AZ     878
WA     841
CO     791
NC     788
CT     754
MI     722
MO     685
MN     613
NV     497
SC     472
WI     459
AL     451
OR     450
LA     436
KY     327
OK     299
KS     271
UT     259
AR     245
DC     212
RI     199
NM     190
WV     177
HI     173
NH     172
DE     113
MT      85
WY      83
AK      81
SD      63
VT      54
MS      19
TN      17
IN       9
ID       6
NE       5
IA       5
ME       3
Name: addr_state, dtype: int64

In [25]:
# Dropping columns
loans_df = loans_df.drop(["last_credit_pull_d", "addr_state","title","earliest_cr_line"],axis=1)

In [26]:
# Remapping Employment Length
emp_len_mapping = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
}

loans_df = loans_df.replace(emp_len_mapping)
print(loans_df["emp_length"].value_counts())

10    8897
0     5650
2     4389
3     4094
4     3435
5     3279
1     3240
6     2227
7     1771
8     1483
9     1259
Name: emp_length, dtype: int64

In [27]:
# Convert object columns to float columns
loans_df["int_rate"] = loans_df["int_rate"].str.rstrip('%').astype('float')
loans_df["revol_util"] = loans_df["revol_util"].str.rstrip('%').astype('float')

In [28]:
loans_df.dtypes

loan_amnt              float64
term                    object
int_rate               float64
installment            float64
emp_length               int64
home_ownership          object
annual_inc             float64
verification_status     object
loan_status              int64
purpose                 object
dti                    float64
delinq_2yrs            float64
inq_last_6mths         float64
open_acc               float64
pub_rec                float64
revol_bal              float64
revol_util             float64
total_acc              float64
dtype: object

In [29]:
# Convert object columns to categorical Dummy columns
cols_to_convert = ["home_ownership", "verification_status", "purpose", "term"]
dummy_loans = pd.get_dummies(loans_df[cols_to_convert])
loans_df = pd.concat([loans_df, dummy_loans], axis=1)
loans_df = loans_df.drop(cols_to_convert, axis=1)

In [30]:
loans_df.dtypes

loan_amnt                              float64
int_rate                               float64
installment                            float64
emp_length                               int64
annual_inc                             float64
loan_status                              int64
dti                                    float64
delinq_2yrs                            float64
inq_last_6mths                         float64
open_acc                               float64
pub_rec                                float64
revol_bal                              float64
revol_util                             float64
total_acc                              float64
home_ownership_MORTGAGE                  uint8
home_ownership_NONE                      uint8
home_ownership_OTHER                     uint8
home_ownership_OWN                       uint8
home_ownership_RENT                      uint8
verification_status_Not Verified         uint8
verification_status_Source Verified      uint8
verification_status_Verified             uint8
purpose_car                              uint8
purpose_credit_card                      uint8
purpose_debt_consolidation               uint8
purpose_educational                      uint8
purpose_home_improvement                 uint8
purpose_house                            uint8
purpose_major_purchase                   uint8
purpose_medical                          uint8
purpose_moving                           uint8
purpose_other                            uint8
purpose_renewable_energy                 uint8
purpose_small_business                   uint8
purpose_vacation                         uint8
purpose_wedding                          uint8
term_ 36 months                          uint8
term_ 60 months                          uint8
dtype: object

# Data Preparation

In [31]:
data = loans_df.copy()
data.shape

(39724, 38)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39724 entries, 0 to 39785
Data columns (total 38 columns):
loan_amnt                              39724 non-null float64
int_rate                               39724 non-null float64
installment                            39724 non-null float64
emp_length                             39724 non-null int64
annual_inc                             39724 non-null float64
loan_status                            39724 non-null int64
dti                                    39724 non-null float64
delinq_2yrs                            39724 non-null float64
inq_last_6mths                         39724 non-null float64
open_acc                               39724 non-null float64
pub_rec                                39724 non-null float64
revol_bal                              39724 non-null float64
revol_util                             39724 non-null float64
total_acc                              39724 non-null float64
home_ownership_MORTGAGE                39724 non-null uint8
home_ownership_NONE                    39724 non-null uint8
home_ownership_OTHER                   39724 non-null uint8
home_ownership_OWN                     39724 non-null uint8
home_ownership_RENT                    39724 non-null uint8
verification_status_Not Verified       39724 non-null uint8
verification_status_Source Verified    39724 non-null uint8
verification_status_Verified           39724 non-null uint8
purpose_car                            39724 non-null uint8
purpose_credit_card                    39724 non-null uint8
purpose_debt_consolidation             39724 non-null uint8
purpose_educational                    39724 non-null uint8
purpose_home_improvement               39724 non-null uint8
purpose_house                          39724 non-null uint8
purpose_major_purchase                 39724 non-null uint8
purpose_medical                        39724 non-null uint8
purpose_moving                         39724 non-null uint8
purpose_other                          39724 non-null uint8
purpose_renewable_energy               39724 non-null uint8
purpose_small_business                 39724 non-null uint8
purpose_vacation                       39724 non-null uint8
purpose_wedding                        39724 non-null uint8
term_ 36 months                        39724 non-null uint8
term_ 60 months                        39724 non-null uint8
dtypes: float64(12), int64(2), uint8(24)
memory usage: 5.5 MB

#### Shuffle, Split and Format

In [33]:
# Splitting the Data Set
train = data.sample(frac=0.8, random_state=1)
test = data[~data.index.isin(train.index)]

features = data.columns.drop(['loan_status'])
target = 'loan_status'

# Formatting
X_train, X_test = train[features], test[features]
y_train, y_test = train[target], test[target]

print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(31779, 37) (7945, 37)
(31779,) (7945,)

#### Error Metric of Interest : Minimize False Positives
* As a conservative investor, we would prefer to see as few False Positives (approved risky investments) as possible.
    * __FP__ : ( Predicted = 1, Actual = 0 )

In [34]:
# tn = predictions[(predictions==0)&(df["label"]==0)].shape[0]
# tp = predictions[(predictions==1)&(df["label"]==1)].shape[0]
# fp = predictions[(predictions==1)&(df["label"]==0)].shape[0]
# fn = predictions[(predictions==0)&(df["label"]==1)].shape[0]

# fpr = fp/(fp+tn)
# tpr = tp/(tp+fn)
# fnr = fn/(tp+fn)
# tnr = tn/(fp+tn)

$FPR=\dfrac{\text{False Positives}}{\text{False Positives} + \text{True Negatives}}$ : % of Approved Loans that Would be Charged Off  
  
$TPR=\dfrac{\text{True Positives}}{\text{True Positives} + \text{False Negatives}}$ : % of Rejected Loans that Would have been Repaid

$PPV=\dfrac{\text{True Positives}}{\text{True Positives} + \text{False Positives}}$ : % of Approved Loans that Would have been Repaid

# Making a Prediction

### 1. Logistic Regression with class_weight=Default

In [118]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict

lr = LogisticRegression()

predictions = cross_val_predict(lr, X_train, y_train, cv=3)

tn = predictions[(predictions==0)&(y_train==0)].shape[0]
tp = predictions[(predictions==1)&(y_train==1)].shape[0]
fn = predictions[(predictions==0)&(y_train==1)].shape[0]
fp = predictions[(predictions==1)&(y_train==0)].shape[0]

fpr = fp/(tn+fp)
tpr = tp/(tp+fn)
ppv = tp/(tp+fp)

print("False Positive Rate:",fpr)
print("True Positive Rate:",tpr)
print("Positive Predictive Value:",ppv)

False Positive Rate: 0.9991128853404303
True Positive Rate: 0.9993399339933994
Positive Predictive Value: 0.8581415121075668

* Model has a high bias for Positive Predictions, since dataset is made of mostly positive labels
* Currently predicting for: __0.0692% Predicted Negatives__ as compared to __14% Actual Negatives__

In [36]:
# Predictions Beakdown
predictions = pd.Series(predictions)
predictions.value_counts()/predictions.shape[0]

1    0.999308
0    0.000692
dtype: float64

In [37]:
# Training Breakdown
y_train.value_counts()/y_train.shape[0]

1    0.858114
0    0.141886
Name: loan_status, dtype: float64

### 2. Logistic Regression with class_weight=balanced
* Penalize inversely proportional to class frequencies

In [119]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict

lr = LogisticRegression(class_weight="balanced")

predictions = cross_val_predict(lr, X_train, y_train, cv=3)

tn = predictions[(predictions==0)&(y_train==0)].shape[0]
tp = predictions[(predictions==1)&(y_train==1)].shape[0]
fn = predictions[(predictions==0)&(y_train==1)].shape[0]
fp = predictions[(predictions==1)&(y_train==0)].shape[0]

fpr = fp/(tn+fp)
tpr = tp/(tp+fn)
ppv = tp/(tp+fp)

print("False Positive Rate:",fpr)
print("True Positive Rate:",tpr)
print("Positive Predictive Value:",ppv)

False Positive Rate: 0.3734752716788645
True Positive Rate: 0.6483314998166483
Positive Predictive Value: 0.913034497004751

* Balanced model has a lower bias for Positive Predictions, since dataset new penalized more for incorrectly predicting actual negatives
* Currently predicting for: __39.1% Predicted Negatives__ as compared to __14.1% Actual Negatives__

In [39]:
# Predictions Beakdown
predictions = pd.Series(predictions)
predictions.value_counts()/predictions.shape[0]

1    0.609333
0    0.390667
dtype: float64

In [40]:
# Training Breakdown
y_train.value_counts()/y_train.shape[0]

1    0.858114
0    0.141886
Name: loan_status, dtype: float64

### 3. Logistic Regression with class_weight=penalty
* Penalize False Negatives 10x more than False Posititives

In [120]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict

penalty = {
    0: 10,
    1: 1
}

lr = LogisticRegression(class_weight=penalty)

predictions = cross_val_predict(lr, X_train, y_train, cv=3)

tn = predictions[(predictions==0)&(y_train==0)].shape[0]
tp = predictions[(predictions==1)&(y_train==1)].shape[0]
fn = predictions[(predictions==0)&(y_train==1)].shape[0]
fp = predictions[(predictions==1)&(y_train==0)].shape[0]

fpr = fp/(tn+fp)
tpr = tp/(tp+fn)
ppv = tp/(tp+fp)

print("False Positive Rate:",fpr)
print("True Positive Rate:",tpr)
print("Positive Predictive Value:",ppv)

False Positive Rate: 0.07873142603681525
True Positive Rate: 0.2273927392739274
Positive Predictive Value: 0.9458511287370348

* Balanced model has a lower bias for Positive Predictions, since dataset new penalized more for incorrectly predicting actual negatives
* Currently predicting for: __20.6% Predicted Negatives__ as compared to __14.1% Actual Negatives__

In [42]:
# Predictions Beakdown
predictions = pd.Series(predictions)
predictions.value_counts()/predictions.shape[0]

0    0.7937
1    0.2063
dtype: float64

In [43]:
# Training Breakdown
y_train.value_counts()/y_train.shape[0]

1    0.858114
0    0.141886
Name: loan_status, dtype: float64

### 4. Making a Prediction - RandomForest with class_weight=balanced
* Penalize inversely proportional to class frequencies

In [121]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_predict

rf = RandomForestClassifier(random_state=1, class_weight="balanced")

predictions = cross_val_predict(rf, X_train, y_train, cv=3)

tn = predictions[(predictions==0)&(y_train==0)].shape[0]
tp = predictions[(predictions==1)&(y_train==1)].shape[0]
fn = predictions[(predictions==0)&(y_train==1)].shape[0]
fp = predictions[(predictions==1)&(y_train==0)].shape[0]

fpr = fp/(tn+fp)
tpr = tp/(tp+fn)
ppv = tp/(tp+fp)

print("False Positive Rate:",fpr)
print("True Positive Rate:",tpr)
print("Positive Predictive Value:",ppv)

False Positive Rate: 0.9447771124417831
True Positive Rate: 0.9754308764209755
Positive Predictive Value: 0.8619572261827608

* Balanced RF model continues to have a high bias for Positive Predictions
* Currently predicting for: __2.9% Predicted Negatives__ as compared to __14.1% Actual Negatives__

In [45]:
# Predictions Beakdown
predictions = pd.Series(predictions)
predictions.value_counts()/predictions.shape[0]

1    0.971082
0    0.028918
dtype: float64

In [46]:
# Training Breakdown
y_train.value_counts()/y_train.shape[0]

1    0.858114
0    0.141886
Name: loan_status, dtype: float64

### 5. RandomForest with class_weight=penalty
* Penalize False Negatives 10x more than False Posititives

In [122]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_predict

penalty = {
    0: 100,
    1: 1
}

rf = RandomForestClassifier(random_state=1, class_weight=penalty)

predictions = cross_val_predict(rf, X_train, y_train, cv=3)

tn = predictions[(predictions==0)&(y_train==0)].shape[0]
tp = predictions[(predictions==1)&(y_train==1)].shape[0]
fn = predictions[(predictions==0)&(y_train==1)].shape[0]
fp = predictions[(predictions==1)&(y_train==0)].shape[0]

fpr = fp/(tn+fp)
tpr = tp/(tp+fn)
ppv = tp/(tp+fp)

print("False Positive Rate:",fpr)
print("True Positive Rate:",tpr)
print("Positive Predictive Value:",ppv)

False Positive Rate: 0.9536482590374806
True Positive Rate: 0.9783645031169783
Positive Predictive Value: 0.8612007746933505

* Even penalizing False Negatives 100x more than False Positives,the RF model continues to have a bias for Positive Predictions
* Currently predicting for: __2.5% Predicted Negatives__ as compared to __14.1% Actual Negatives__

In [63]:
# Predictions Beakdown
predictions = pd.Series(predictions)
predictions.value_counts()/predictions.shape[0]

1    0.974858
0    0.025142
dtype: float64

In [64]:
# Training Breakdown
y_train.value_counts()/y_train.shape[0]

1    0.858114
0    0.141886
Name: loan_status, dtype: float64

### 6. Making a Prediction - Multi-Layer Neural Network

In [123]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import cross_val_predict


nn = MLPClassifier(hidden_layer_sizes=(16,16),random_state=1 )

predictions = cross_val_predict(nn, X_train, y_train, cv=3)

tn = predictions[(predictions==0)&(y_train==0)].shape[0]
tp = predictions[(predictions==1)&(y_train==1)].shape[0]
fn = predictions[(predictions==0)&(y_train==1)].shape[0]
fp = predictions[(predictions==1)&(y_train==0)].shape[0]

fpr = fp/(tn+fp)
tpr = tp/(tp+fn)
ppv = tp/(tp+fp)

print("False Positive Rate:",fpr)
print("True Positive Rate:",tpr)
print("Positive Predictive Value:",ppv)

False Positive Rate: 0.9693945442448436
True Positive Rate: 0.9836450311697836
Positive Predictive Value: 0.8598813912485975

* A MLPClassifier also maintains a bias for Positive Predictions
* Currently predicting for: __1.8% Predicted Negatives__ as compared to __14.1% Actual Negatives__

In [89]:
# Predictions Beakdown
predictions = pd.Series(predictions)
predictions.value_counts()/predictions.shape[0]

1    0.981623
0    0.018377
dtype: float64

In [90]:
# Training Breakdown
y_train.value_counts()/y_train.shape[0]

1    0.858114
0    0.141886
Name: loan_status, dtype: float64

# Conclusion
* Logistic Regression penalizing False Negatives 10 times more that False Positives is the most effective at minimizing False Positives. With a __7% FPR__ and __94.6 PPV__, it is better the base case if 85.8% of loans would be randomly approved (FPR 14.1%).

| Model     	| Actual 	| 1. LogR - def 	| 2. LogR - bal 	| 3. LogR - penalty 	| 4. RF - bal 	| 5. RF - penalty 	| 6. MLP 	|
|-----------	|--------	|---------------	|---------------	|-------------------	|-------------	|-----------------	|--------	|
| FPR       	| -      	| 0.999         	| 0.373         	| 0.07              	| 0.945       	| 0.954           	| 0.969  	|
| TPR       	| -      	| 0.999         	| 0.648         	| 0.22              	| 0.975       	| 0.978           	| 0.984  	|
| PPV       	| -      	| 0.858         	| 0.913         	| __0.946__           	| 0.862       	| 0.861           	| 0.860  	|
| Negatives 	| 14.1%  	| 0.0692%       	| 39.1%         	| 20.6%             	| 2.9%        	| 2.5%            	| 1.8%   	|

In [128]:
import numpy as np
predictions = np.random.choice([1,0],p=[0.858,0.142],size=y_train.shape[0])

tn = predictions[(predictions==0)&(y_train==0)].shape[0]
tp = predictions[(predictions==1)&(y_train==1)].shape[0]
fn = predictions[(predictions==0)&(y_train==1)].shape[0]
fp = predictions[(predictions==1)&(y_train==0)].shape[0]

fpr = fp/(tn+fp)
tpr = tp/(tp+fn)
ppv = tp/(tp+fp)

print("False Positive Rate:",fpr)
print("True Positive Rate:",tpr)
print("Positive Predictive Value:",ppv)

False Positive Rate: 0.8618318917720116
True Positive Rate: 0.8625962596259626
Positive Predictive Value: 0.8582217519792769

In [129]:
# Predictions Beakdown
predictions = pd.Series(predictions)
predictions.value_counts()/predictions.shape[0]

1    0.862488
0    0.137512
dtype: float64

In [130]:
# Training Breakdown
y_test.value_counts()/y_test.shape[0]

1    0.856262
0    0.143738
Name: loan_status, dtype: float64